<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NewsCrucible - 新闻搜索</title>

    <meta name="description" content="NewsCrucible,一个兴趣使然的新闻搜索平台">
    <meta name="author" content="NewsCrucible">

    <link href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/background.css" rel="stylesheet">

    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>


    <script src="/static/js/loading.js"></script>

</head>