static/node_modules/
static/package-lock.json
static/img/
static/icon/
static/fonts/
.idea/
.vscode/
.directory
*.pyc
*.tar.gz
application/models/*
application/search/*
!application/search/create_Index.py
!application/search/Index.py
!application/search/Search.py
application/SIFT/thepaper
application/SIFT/thepaper/
application/SIFT/*.json
application/TextSearch/newstxt
application/TextSearch/newstxt/
application/TextSearch/*.json
application/TextSearch/*.dict
application/TextSearch/*.model
application/TextSearch/*.mm
imagenew.jpg
*/thepaper
*/thepaper/
*.jpg
*.jpeg
*.png
*.gif
*.bmp

